*{ margin: 0; padding: 0;}
html,body{ height: 100%; width: 100%;}
body{ font-size: 12px; color: #666; font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;}
dl,ol,ul{ list-style-type: none;}
input{ color: #666;}

#xt-left{ position: absolute; background: #393939; width: 190px; left: 0;}
#xt-right{ position: relative; width: auto; margin-left: 190px; overflow-x: hidden; overflow-y: auto; height:100%;  }
.xt-yanse{ color: #21b6b4; padding: 0 5px;}
.xt-center{left: 0; right: 0; top: 0;}
.xt-align{ margin: 20px; border: 1px solid #dcdcdc; background: #fff; position: relative;}

/* a/input样式 */
.yellow-xt{ background: #ffb849; color: #fff;}
.red-xt{ background: #da542e; color: #fff;}
.blue-xt{ background: #2596d4; color: #fff;}
.green-xt{ background: #21b6b4; color: #fff;}
.green-int{ background: #21b6b4; color: #fff; padding: 6px 20px; border: none; border-radius: 8px; font-size: 14px;}
.yellow-int{ background: #ffb849; color: #fff; padding: 6px 20px; border: none; border-radius: 8px; font-size: 14px;}

/* top */
#xt-top{ position:relative; top: 0; left: 0; background: #393939; width: 100%; overflow: hidden; height: 54px;}
.xt-logo{ background: #393939; height: 45px; text-align: center; padding-top: 9px; float: left; margin-left: 20px;}
.xt-geren{ background: #393939; color: #aeb2b7; font-size: 14px; float: right;}
.xt-exit{ text-align: right; height: 54px; line-height: 54px;}
.xt-exit a{ width: 20px; height: 20px; display: inline-block; text-indent: -9999px; vertical-align: middle; overflow: hidden;
    background: url("../images/icon.png") no-repeat; margin: 0 10px 0 0;}
.xt-exit a.help{ background-position: -114px 0;}
.xt-exit a.exit{ background-position: -85px 0;}
.xt-exit a:hover.help{ background-position: -114px -20px;}
.xt-exit a:hover.exit{ background-position: -85px -20px;}
.xt-exit .xt-span{ padding-right: 20px;}


/* left */
.xt-menu li a{ width: auto; display: block; padding: 18px 0 18px 30px; font-size: 14px; color: #aeb2b7;
    text-decoration: none;}
.xt-menu li a:hover,.xt-menu li a.hover{ background: #424242; color: #21b6b4;}
.xt-menu li a em{ width: 17px; height: 17px; display: inline-block; background: url("../images/icon.png") no-repeat;
    margin: 0 5px -3px 0;}
.xt-menu li a:hover
.xt-menu li a:hover em.one,.xt-menu li a.hover em.one{ background-position: 0 -20px;}
.xt-menu li a:hover em.two,.xt-menu li a.hover em.two{ background-position: -30px -20px;}
.xt-menu li a:hover em.three,.xt-menu li a.hover em.three{ background-position: -58px -20px;}
.xt-menu li a em.one{ background-position: 0 0;}
.xt-menu li a em.two{ background-position: -30px 0;}
.xt-menu li a em.three{ background-position: -58px 0;}
.xt-menu-list{ height: 300px; border-bottom: 1px solid #4d4c63;}

/* right */
.xt-bt{ background: #fff; border-bottom: 1px solid #dcdcdc; box-shadow: 0 1px 2px #f8f8f8; padding: 15px 10px;}

/* 表 */
.xt-table{ margin: 20px; border: 1px solid #dcdcdc;}
.xt-table td,.xt-table th{ background: #fff; padding: 16px 8px;}
.xt-table th{ background: #eee; border-bottom:1px solid #dcdcdc; }
.xt-table tr.xt-bg td{ background: #f9fafa;}
.xt-table tr td{text-align: center;}
.xt-table tr td a{ padding: 3px 5px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 0 2px;}
.xt-table tr:hover td{ background: #73cfce; color: #fff;}
.xt-table tr:hover td a:hover{color: #baa01b; background: #f5e17a;}

/* 分页 */
.xt-fenye{ margin: 20px; background: #fff; border: 1px solid #dcdcdc; overflow: hidden; padding: 10px 15px;}
.xt-fenye-left{ float: left; padding: 5px 0;}
.xt-fenye-right{ float: right;}
.xt-fenye-right a,.xt-fenye-right input{ display: inline-block; vertical-align: middle;}
.xt-fenye-right a{ background: #f8f8f8; border: 1px solid #dcdcdc; padding: 5px 15px; color: #666; text-decoration: none;}
.xt-fenye-right a:hover{ background: #21b6b4; color: #fff; border: 1px solid #21b6b4;}
.xt-fenye-right a.xt-link{ background: #21b6b4; color: #fff; border: 1px solid #21b6b4;}
.xt-fenye-right a:hover.xt-link{ background: #30abaa; color: #fff; border: 1px solid #30abaa;}
.xt-fenye-right input{ width: 40px; text-align: center; padding: 4px;}

/* input */
.xt-input{ background: #eee; padding: 16px 20px; margin: 20px; border: 1px solid #dcdcdc;}
.xt-input span,.xt-input input,.xt-input select{ display: inline-block; vertical-align: middle;}
.xt-input span{ padding: 0 5px;}
.int-text{ padding: 8px 10px; border: 1px solid #dcdcdc;}


/* 合同详情 */
.xt-detail-top h2{ border-left: 4px solid #21b6b4; display: block; margin: 0 0 10px; font-size: 18px; font-weight: normal;
    background: #eee; padding: 10px 0 10px 20px;}
.xt-detail{ overflow: hidden; padding: 20px 0;}
.xt-detail ul{ padding: 0 40px; overflow: hidden;}
.xt-detail li{ float: left; width: 50%; padding: 10px 0; font-size: 14px;}
.xt-detail .xt-wenzi{ padding: 0 10px; color: #999;}
.xt-detail .xt-link-list{ text-align: right; margin: 0 40px 20px; border-top:1px solid #dcdcdc; padding: 25px 10px 0;}
.xt-link-list a{ padding: 10px 20px; border-radius: 8px; text-decoration: none;}
.xt-detail dl{ float: left; width: 180px; border: 1px solid #dcdcdc; margin: 10px 20px;}
.xt-detail dl dd{ width: 150px; height: 150px; margin: 10px auto;}
.xt-detail dl dd img{ width: 100%;}
.xt-detail dl dt{ border-top: 1px solid #dcdcdc;}
.xt-detail dl dt p{ padding: 10px 0;}
.xt-detail dl dt a{ width: auto; display: block; text-align: center; padding: 10px; font-size: 14px; text-decoration: none;}

/* 新增修改 */
.xt-xzxg{ padding: 10px; margin: 0 5%;}
.xt-xzxg span{ font-size: 14px; padding-right: 8px; width: 100px; text-align: right; display: inline-block;}
.xt-xzxg-link{ margin: 20px 5%; padding-left: 120px;}
.xt-xzxg-link a{ text-decoration: none;}